<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <label for="start">start </label><input id="start" name="start" type="date"><br>
        <label for="end">end </label><input id="end" name="end" type="date"><br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <h2>From: {{(index . 0).Date}} To: {{(len . | dec | index . ).Date}}</h2>
    {{range .}}
        <p>{{.Date}} {{.Time}} {{.Message}}</p>
    {{end}}
</body>
</html>






